div#driver-popover-item {
    display: none;
    position: absolute;
    background: #fff;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    z-index: 1000000000
}

div#driver-popover-item .driver-popover-tip {
    border: 5px solid;
    content: "";
    position: absolute;
    margin-left: 20px;
}

div#driver-popover-item .driver-popover-tip.bottom {
    bottom: -10px;
    border-color: #00304D transparent transparent
}

div#driver-popover-item .driver-popover-tip.bottom.position-center {
    left: 49%
}

div#driver-popover-item .driver-popover-tip.bottom.position-right {
    right: 20px
}

div#driver-popover-item .driver-popover-tip.left {
    left: -10px;
    top: 10px;
    border-color: transparent #00304D transparent transparent
}

div#driver-popover-item .driver-popover-tip.left.position-center {
    top: 46%
}

div#driver-popover-item .driver-popover-tip.left.position-bottom {
    top: auto;
    bottom: 20px
}

div#driver-popover-item .driver-popover-tip.right {
    right: -10px;
    top: 10px;
    border-color: transparent transparent transparent #00304D
}

div#driver-popover-item .driver-popover-tip.right.position-center {
    top: 46%
}

div#driver-popover-item .driver-popover-tip.right.position-bottom {
    top: auto;
    bottom: 20px
}

div#driver-popover-item .driver-popover-tip.top {
    top: -10px;
    border-color: transparent transparent #00304D
}

div#driver-popover-item .driver-popover-tip.top.position-center {
    left: 49%
}

div#driver-popover-item .driver-popover-tip.top.position-right {
    right: 20px
}

div#driver-popover-item .driver-popover-tip.mid-center {
    display: none
}

div#driver-popover-item .driver-popover-footer {
    display: block;
    margin-top: 10px
}

/*Estilos botones*/
div#driver-popover-item .driver-popover-footer button {
    display: grid;
    padding: 8px;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    color: black;
    font: 14px/normal sans-serif;
    cursor: pointer;
    outline: 0;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    font-weight: 500;
}

/* Botón Siguiente (verde) */
.driver-next-btn {
    background-color: #39A900 !important;
    /* verde */
    color: white !important;
    width: 45%;
    border-radius: 20px !important;
}

/* Botón Finalizar (verde) */
.driver-done-btn {
    background-color: #39A900 !important;
    color: white !important;
    width: 45%;
    border-radius: 20px !important;
}

/* Botón Anterior (azul) */
.driver-prev-btn {
    background-color: #002A43 !important;
    /* azul */
    color: white !important;
    width: 45%;
    border-radius: 20px !important;
}


/* Contenedor de botones inferior */
.driver-popover-footer .driver-btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    float: none !important;
    clear: both;
}

.driver-close-btn {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    background-color: #39A900 !important;
    font-size: 20px;
    color: white !important;
    border-radius: 40px !important;
    padding: 4px 8px !important;
    margin: 0 !important;
    z-index: 1001;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/* Asegúrate de limpiar el texto de cualquier sombra o transformación */
.driver-popover-footer button {
    text-shadow: none !important;
    font-weight: bold !important;
    transform: none !important;
    filter: none !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

div#driver-popover-item .driver-popover-footer button.driver-disabled {
    color: grey;
    cursor: default;
    pointer-events: none
}

div#driver-popover-item .driver-popover-footer .driver-close-btn {
    float: left
}

div#driver-popover-item .driver-popover-footer .driver-btn-group,
div#driver-popover-item .driver-popover-footer .driver-close-only-btn {
    float: right
}

/* Aplica a todos los tooltips del tour */
.driver-popover {
    background-image: url('../assets/img/Admin.svg') !important;
    /* Ajusta la ruta */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: white !important;
}


div#driver-popover-item .driver-popover-title {
    font: 20px;
    margin: 0 0 5px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    display: block;
    zoom: 1;
    color: white;
    font-weight: bold;
    background-color: #00304D;
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#driver-popover-item .driver-popover-description {
    margin-bottom: 0;
    font: 16px/normal 'Work Sans';
    line-height: 1.5;
    color: black;
    margin: 20px;
    font-weight: normal;
    zoom: 1;
    border-radius: 20px;
}

.driver-clearfix:after,
.driver-clearfix:before {
    content: "";
    display: table
}

.driver-clearfix:after {
    clear: both
}

.driver-stage-no-animation {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background: transparent !important;
    outline: 5000px solid rgba(0, 0, 0, .75)
}

div#driver-page-overlay {
    background: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    zoom: 1;
    filter: alpha(opacity=75);
    opacity: .75;
    z-index: 100002 !important
}

div#driver-highlighted-element-stage,
div#driver-page-overlay {
    top: 0;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

div#driver-highlighted-element-stage {
    position: absolute;
    height: 50px;
    width: 300px;
    background: #fff;
    z-index: 100003 !important;
    display: none;
    border-radius: 20px
}

.driver-highlighted-element {
    z-index: 100004 !important
}

.driver-position-relative {
    position: relative !important
}

.driver-fix-stacking {
    z-index: auto !important;
    opacity: 1 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
    -ms-filter: none !important;
    -o-filter: none !important;
    filter: none !important;
    -webkit-perspective: none !important;
    -moz-perspective: none !important;
    -ms-perspective: none !important;
    -o-perspective: none !important;
    perspective: none !important;
    -webkit-transform-style: flat !important;
    -moz-transform-style: flat !important;
    -ms-transform-style: flat !important;
    transform-style: flat !important;
    -webkit-transform-box: border-box !important;
    -moz-transform-box: border-box !important;
    -ms-transform-box: border-box !important;
    -o-transform-box: border-box !important;
    transform-box: border-box !important;
    will-change: unset !important
}